body, * {
	font-family: 'Noto Sans', sans-serif;
}

body {
	height: 100%;
	background: linear-gradient(#FFF, #AAA, #999, #888, #777);
}

.main-content {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 50% 30%;
	grid-template-areas: 
	"header"
	"main"
	"weather";
	width: 65%;
	padding: 30px 0;
	position: relative;
	margin: 0 auto;
	height: 3500px;
}

header {
	grid-area: header;
}

header img {
	width: 100%;
	position: relative;
	border-radius: 5px;
}

.titulo-subtitulo {
	position: absolute;
	top: 16pc;
	color: #CCC;
	text-shadow: 1.5px 1.5px 2px #000, -1.5px -1.5px 2px #888;
}

.titulo-subtitulo h1 {
	font-size: 2.3em;
	line-height: 2em;
	margin-left: 15px;
}

.titulo-subtitulo h2 {
	font-size: 1.8em;
	line-height: 1.5em;
	margin-left: 15px;
}

main.index {
	display: flex;
	flex-direction: column;
	grid-area: main;
}

.why-hike {
	width: 100%;
	height: 650px;
	position: relative;
}

.img-adjust {
	width: 550px;
	border-radius: 5px;
}

.img-hike-text {
	position: absolute;
	right: 10px;
	top: 20px;
	max-width: 40%;
}

.img-hike-text h2 {
	font-size: 1.7em;
	line-height: 1.4em;
	text-align: center;
	margin-bottom: 1.4em;
}

.img-hike-text p {
	font-size: 1.4em;
	line-height: 1.3em;
	text-align: right;
}

.weather {
	grid-area: weather;
	font-size: 2em;
	font-weight: 900;
	line-height: 1.6em;
	display: grid;
}
